**Introduction**

In [4]:
print("Python 063 H8 Hello World pertemuan 1")

#variable declaration 

jumlah_peserta = 6
kelas = 63

#how to print 1 (recommended) most simple
print(f"Print 1 : Kelas Python {kelas} ada {jumlah_peserta} siswa dan siswi")

#how to print 2 (string manipulation)
print("Print 2 : Kelas Python "+ str(kelas) + " ada " + str(jumlah_peserta) +" siswa dan siswi ")

#how to print 3 (string manipulation)
print("""

      Print 2 : Kelas Python """
      + str(kelas) + 
      """ ada """
      + str(jumlah_peserta) +
      """ siswa dan siswi
      
      """)

#long long long string memakai 3 """ """
#string biasa menggunakan "" or ''

article = """Indonesia is undoubtedly one of the most attractive markets in Southeast Asia. With a population of over 250 million – the largest in the region and the fourth largest in the world, after China, India, and the US – who wouldn’t keep an eye on this market?

So let’s focus on how Indonesia has fared in web and mobile, two key things that matter to tech giants and startups doing business in this country.

According to We Are Social’s compendium of world digital stats, Indonesia now has 88.1 million active internet users, up 15 percent over the past 12 months.

Its mobile market has exploded over the past couple of years. SIM subscriptions in Indonesia stand at 326.3 million, way more than its population. This means each mobile phone user owns an average of two SIM cards. 85 percent of the population own mobile phones, while 43 percent carry smartphones."""

Python 063 Hello World
Kelas Python 63 ada 6 siswa dan siswi
Kelas Python 63 ada 6 siswa dan siswi

**Data Type**

In [7]:
print(123123123123123123123123123123123123123123123123123 + 1)
print(10)
print(type(10))


print(4.2)
print(type(4.2))
print(4.)
#6 digit behind number + 1 digit behind zero
print(.4e7)
#by comparison in java or c# or c, we have to declare data type int or string or char or else class 
#in python we don't do that

123123123123123123123123123123123123123123123123124
10
<class 'int'>
4.2
<class 'float'>
4.0
4000000.0

**Boolean type**

In [8]:
#boolean hanya memiliki true dan false / 1 dan 0
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

**Operator and Expressions**

In [23]:
a = b = c = 1000

print(f"{a} {b} {c} same value")

a = 0
b = 500
c = 1000

print(f"{a} {b} {c} different value")

a = 0
b = 500 + a
c = 1000 + b

print(f"{a} {b} {c} addition (+) value")

a = 0
b = 500 - a
c = 1000 - b

print(f"{a} {b} {c} substract (-) value")

a = 0
b = 500 * a
c = 1000 * b

print(f"{a} {b} {c} multiply (*) value")

a = 1
b = 500 / a
c = 1000 / b

print(f"{a} {b} {c} divide (/) value")

a = 2
b = 20 ** a
c = 1 ** b

print(f"{a} {b} {c} power (indonesian : pangkat) (**) value")

variable = 23.5
#variable reuse
variable = "string"

# in javascript -> int a = 2 ; var b = 2 ;
# in python a = 2 b = 2 no int or var declared
#int a = 2
#char var = 2


#variable can't be declared if started with numbers or symbol (exception '_' )
# e.g. 9_kepala_naga will return syntax error or +_kepala_naga / ]_kepala_naga = 10will return syntax error 

_variable = 10

#var here is not a syntax.. it's only name

__variable

#comparison operator
data_a = 10
data_b = 20

print(data_a == data_b)
print(data_a != data_b)
print(data_a <= data_b) 
print(data_a >= data_b)
print(data_a > data_b)
print(data_a < data_b)

# for additional lesson please try it yourself :) because it will be fun

1000 1000 1000 same value
0 500 1000 different value
0 500 1500 addition (+) value
0 500 500 substract (-) value
0 0 0 multiply (*) value
1 500.0 2.0 divide (/) value
2 400 1 power (indonesian : pangkat) (**) value
False
True
True
False
False

**Python List, Tuples, Dictionary.**

---



---

In [44]:
# Python list are ordered, can contain any arbitrary objects, can accessed by index, mutable dynamic
# Java list = new List(int) , in comparison python is more straightforward ans dynamic
# started by [ and ended by ]

list_kelas_063 = ["mas Michael","mas zulfikar","mba dhila" ,"mas ruben","mas asvan"]

print(f"kelas h8 063 dihadiri oleh {list_kelas_063}")

list_kelas_063_pertemuan_2 = ["mas Michael","mas zulfikar","mba dhila" ,"mas ruben","mas asvan","mas arrizal"]

print(f"apakah pertemuan 1 dan 2 sama ? {list_kelas_063 == list_kelas_063_pertemuan_2}")

list_kelas_063_pertemuan_3 = ["mas Michael","mas zulfikar","mba dhila" ,"mas ruben","mas asvan","mas arrizal"]

print(f"apakah pertemuan 2 dan 3 sama ? {list_kelas_063_pertemuan_2 == list_kelas_063_pertemuan_3}")

#accessing string from 0 to M

print(f"""

      absensi 1 {list_kelas_063[0]} 
              2 {list_kelas_063[1]}
              3 {list_kelas_063[2]} 
              4 {list_kelas_063[3]} 
              5 {list_kelas_063[4]} 


dari belakang absensi 1 {list_kelas_063[-1]} 
                      2 {list_kelas_063[-2]}
                      3 {list_kelas_063[-3]} 
                      4 {list_kelas_063[-4]} 
                      5 {list_kelas_063[-5]} 
          
          """)

#try it yourself :)


#Arbitrary object

list_acak = ["String", 10,"String lagi",9000.0]
print(list_acak)

kelas h8 063 dihadiri oleh ['mas Michael', 'mas zulfikar', 'mba dhila', 'mas ruben', 'mas asvan']
apakah pertemuan 1 dan 2 sama ? False
apakah pertemuan 2 dan 3 sama ? True


      absensi 1 mas Michael
              2 mas zulfikar
              3 mba dhila
              4 mas ruben
              5 mas asvan


dari belakang absensi 1 mas asvan
                      2 mas ruben
                      3 mba dhila
                      4 mas zulfikar
                      5 mas Michael


['String', 10, 'String lagi', 9000.0]

In [ ]:
# Python tuples are ordered but more simple and efficient
# Java tuple = new Tuple(int) , in comparison python is more straightforward ans dynamic
# started by ( and ended by )

In [46]:
tuple_materi_h8 = ("materi python 1 -> data type" , 
                   "materi python 2 -> pandas ", 
                   "materi python 3 -> numpy")

print(f"data tuple {tuple_materi_h8}")

data tuple ('materi python 1 -> data type', 'materi python 2 -> pandas ', 'materi python 3 -> numpy')

In [58]:
# Python dictionary are similiar with NoSQL document based e.g JSON
# started by {} and ended by }

harga_barang_di_alfamidi = { "susu beruang" : 10000 , 
                             "chitato 200g" : 150000, 
                             "cup noodles nissin" : 30000 , 
                             "panadol" : 5000
                              
                            }

print(f"harga barang menggunakan dictionary NoSQL : {harga_barang_di_alfamidi}")
print(f"""

per invoice barang 

susu beruang : {harga_barang_di_alfamidi['susu beruang']}
chitato : {harga_barang_di_alfamidi['chitato 200g']}
cup noodles nissin : {harga_barang_di_alfamidi['cup noodles nissin']}
panadol : {harga_barang_di_alfamidi['panadol']}

""")

print(f"""

per invoice barang 

susu beruang : {harga_barang_di_alfamidi['susu beruang']}
chitato : {harga_barang_di_alfamidi['chitato 200g']}
cup noodles nissin : {harga_barang_di_alfamidi['cup noodles nissin']}
panadol : {harga_barang_di_alfamidi['panadol']}

""")

#other way to avoid typo

list_harga = [("susu beruang", "10000"), 
              ("chitato 200g", "150000"), 
              ("cup noodles nissin", "30000")]

print(f"""

per invoice barang 

susu beruang : {list_harga[0][0]}
chitato : {list_harga[1][1]}
cup noodles nissin : {list_harga[2]}

""")

harga barang menggunakan dictionary NoSQL : {'susu beruang': 10000, 'chitato 200g': 150000, 'cup noodles nissin': 30000, 'panadol': 5000}


per invoice barang

susu beruang : 10000
chitato : 150000
cup noodles nissin : 30000
panadol : 5000




per invoice barang

susu beruang : 10000
chitato : 150000
cup noodles nissin : 30000
panadol : 5000




per invoice barang

susu beruang : susu beruang
chitato : 150000
cup noodles nissin : ('cup noodles nissin', '30000')

In [53]:
# FYI Line Continuation : misal kode python terlalu panjang bisa dibagi menjadi ...
# beberapa line dengan menggunakan enter / newline asal masih di dalam scope yang sama (indent)
# (read more...)